.carousel-div{
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
}
.c-items{
    height: 80%;
    width: 100%;
}
    .item{
        width: 30%;
        height: 100%;
        padding: 1rem;
    }
    .item img{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }